{{> References}}


<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/Companies">Companies</a></li>
	</ol>

	<div class="container">
		<h1>Companies</h1>
		{{#each Companies}}
		<a href='/Companies/{{ID}}'> {{Name}}</a>
		{{/each}}
	</div>

</body>