<% include ../Partials/References %>

<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/Companies">Companies</a></li>
	</ol>

	<h1>Upgrade to use Handlebars</h1>
	<h1>Companies</h1>
	<% for (var i = 0; i < Companies.length; i++) { %>
	<a href='/Companies/<%= i + 1 %>'><%= Companies[i].Name %></a>
	<% } %>

</body>